stages:
  - build
  - publish

variables:
  DOTNET_VERSION: "8.0"
  NUGET_SERVER: "https://$CI_SERVER_HOST/api/v4/projects/$CI_PROJECT_ID/packages/nuget"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .nuget/packages

before_script:
  - echo "Using .NET SDK version $DOTNET_VERSION"
  - export PATH="$PATH:$HOME/.dotnet/tools"

build:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:$DOTNET_VERSION
  rules:
    - exists:
        - template.nuspec
    - when: always
  allow_failure: false
  script:
    - echo "Packing template using .nuspec"
    - TEMPLATE_VERSION=$(echo "$CI_COMMIT_REF_NAME" | sed 's/release\///')
    - echo "Version detected: $TEMPLATE_VERSION"
    - nuget pack template.nuspec -Properties version=$TEMPLATE_VERSION -OutputDirectory ./nupkg
  artifacts:
    paths:
      - ./nupkg/*.nupkg
    expire_in: 1 week

publish:
  stage: publish
  image: mcr.microsoft.com/dotnet/sdk:$DOTNET_VERSION
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^release\/.*$/'
  script:
    - ls -la ./nupkg
    - dotnet nuget push ./nupkg/*.nupkg --source $NUGET_SERVER --api-key $CI_JOB_TOKEN
